*.pyc
/dist/
/*.egg-info
.ipynb_checkpoints/
*__pycache__*
build/
.vscode/
project-tcav/
*.png
*.jpg
*.jpeg
*.csv
Code/tcav/tcav_examples/*/downloads
Code/tcav/tcav_examples/IMDB_Data/imdb_reviews
Code/kddcup99_10-py3
Code/tcav/tcav_examples/*/cats_vs_dogs
Code/tcav/tcav_examples/*/kdd_sanity2